# Google Sheets Apps Script Web App Endpoint
VITE_GOOGLE_SHEETS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec

# Target Google Spreadsheet Info
VITE_GOOGLE_SHEETS_URL=https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit?usp=sharing
VITE_GOOGLE_SHEETS_ID=YOUR_SPREADSHEET_ID
